### 1. Using python, read the file and extract the names of the countries involved in the experiment.

In [14]:
import pandas as pd

data_fairness = pd.read_csv("blake.csv",delimiter=",", names = ['condition', 'country', 'actor.id', 'actor.age.years', 'actor.gender', 'dist','eq.uneq','decision','value','trial'])
data_fairness

,condition,country,actor.id,actor.age.years,actor.gender,dist,eq.uneq,decision,value,trial
0,condition,country,actor.id,actor.age.years,actor.gender,dist,eq.uneq,decision,value,trial
1,DI,Uganda,uganda.actor.1,7,F,t1.dist,U,accept,low,t1
2,AI,Uganda,uganda.actor.2,8,M,t1.dist,U,accept,low,t1
3,AI,Uganda,uganda.actor.3,8,M,t1.dist,E,accept,low,t1
4,AI,Uganda,uganda.actor.4,9,M,t1.dist,U,accept,high,t1
...,...,...,...,...,...,...,...,...,...,...
13852,AI,Canada,canada.92,11,M,t16.dist,U,accept,low,t16
13853,AI,Canada,canada.93,10,M,t16.dist,U,accept,high,t16
13854,AI,Canada,canada.94,11,M,t16.dist,E,accept,low,t16
13855,DI,Canada,canada.95,8,F,t16.dist,E,accept,high,t16
13856,AI,Canada,canada.96,10,M,t16.dist,U,reject,high,t16

In [33]:
country_list=data_fairness['country'].unique()
print("Countries:\n\n",list(country_list))

Countries:

 ['country', 'Uganda', 'Mexico', 'US', 'India', 'Senegal', 'Peru', 'Canada']

### 2. How many M, F for each country?

In [37]:
cntry= data_fairness.groupby('country')
gender = cntry.get_group('actor.gender')

KeyError: 'actor.gender'