## Chapter 3 
### Boolean Functions: 

Bool () is TRUE for the non-zero values and FALSE for the zero values.

In [1]:
print(bool(True))

print(bool(1))

print(bool(45))

print(bool(-45))

True
True
True
True

In [2]:
print(bool(False))

print(bool(0))

print(bool(0.0))

False
False
False

In [3]:
05

SyntaxError: invalid token (<ipython-input-3-65e6e002a62d>, line 1)

In [4]:
print(+123)
print(-123)

123
-123

In [7]:
print(1,000,0000)
print(12,424,976)

#Does not read commas

1 0 0
12 424 976

### Tuples (using underscores which are eventually ignored by Python)

In [10]:
million = 1_000_000
print(million)

1_2_3

1000000

123

In [12]:
#Mathematical operation: 

print(5 + 9)

print(100 - 7)

print(4 - 10)

14
93
-6

In [13]:
print(6*7)

print(7*6)

print(6*7*2*3)

42
42
252

Division is a little more interesting because it comes in two flavors:

/ carries out floating-point (decimal) division

// performs integer (truncating) division

In [15]:
print(9/5)
print(9//5)

1.8
1

In [16]:
#Dividing by zero is an exception: 
print(3/0)
print(3//0)

ZeroDivisionError: division by zero

In [29]:
# Changing values: 
a= 95
print (a)

print(a-3)

a=a-3
print (a)

b=95
temp=b-3
b=temp
print(temp)

c=95
c-=3
print(c)

d=95
d+=5
print(d)

e=10
e*=2
print(e)

f=100
f/=5
print(f)

f=100
f//=5
print(f)

95
92
92
92
92
100
20
20.0
20

In [31]:
#Modulus operator: Remainder 

print(9%5)

#quotient and remiander at one command:

print(divmod(9,5))

4
(1, 4)

In [32]:
#(**) operator lets one mix integers and floats:

print(2**3)

print(2.0 ** 3) 

print(2 ** 3.0)

print(0 ** 3)

8
8.0
8.0
0

In [34]:
print(2 + 3 * 4)
print(2 + (3 * 4))

14
14

In [35]:
print(-5**2)
print(-(5**2))
print((-5)**2)

-25
-25
25

### Bases:
In Python, you can express literal integers in three bases besides decimal with these integer prefixes:

0b or 0B for binary (base 2).

0o or 0O for octal (base 8).

0x or 0X for hex (base 16).

In [3]:
print(0b10,0o10,0x10)

2 8 16

In [4]:
#Base Functions:
value = 65
print(bin(value))

print(oct(value))

print(hex(value))

0b1000001
0o101
0x41

In [6]:
print(chr(value))
print(ord('A'))

A
65

In [7]:
print(int(1))
print(int(2))
print(bool(True))
print(bool(False))

1
2
True
False

In [12]:
print(int(98.67))
print(int(1.0e4))
print(bool(1.0))
print(bool(0.0))

98
10000
True
False

In [13]:
#Getting the integer value from a text string:

print(int('99'))

print(int('-23'))

print(int('+12'))

print(int('1_000_000'))

99
-23
12
1000000

In [15]:
#If the string represents a nondecimal integer, you can include the base:

print(int('10', 2)) # binary

print(int('10', 8)) # octal

print(int('10', 16)) # hexadecimal

print(int('10', 22)) # chesterdigital

2
8
16
22

In [18]:
print(int('99 bottles of beer'))
print(int(''))

ValueError: invalid literal for int() with base 10: '99 bottles of beer'

In [21]:
#int() will make integers from floats or strings of digits
#but it won’t handle strings containing decimal points or exponents:

print(int(98.67))
print(int('98.67'))

98

ValueError: invalid literal for int() with base 10: '98.67'

In [ ]:
#The boolean value False is treated as 0 or 0.0 when mixed with integers or floats, 
#and True is treated as 1 or 1.0:

print(True + 2)
print(False + 5.0)

In [ ]:
#How big is python?

googol = 10**100
print(googol*googol)

In [2]:

5.

5.0

05.0

5.0

In [3]:
print(5e0)

print(5e1)

print(5.0e1)

print(5.0 * (10 ** 1))

5.0
50.0
50.0
50.0

In [4]:
print(float(True))
print(float(False))

1.0
0.0

In [6]:
print(float('98'))
print(float(99))

98.0
99.0

### Things to do:
#### 3.1 How many seconds are in an hour? Use the interactive interpreter as a calculator and multiply the number of seconds in a minute (60) by the number of minutes in an hour (also 60).

In [7]:
sec_one_hour= 60*60
print(sec_one_hour)

3600

#### 3.2 Assign the result from the previous task(seconds in an hour)to a variable called seconds_per_hour.

In [10]:
seconds_per_hour = sec_one_hour
seconds_per_hour

3600

#### 3.3 How many seconds are in a day? Use your seconds_per_hour variable.

In [11]:
seconds_per_hour*24

86400

#### 3.4 Calculate seconds per day again, but this time save the result in a variable called seconds_per_day.

In [12]:
seconds_per_day = seconds_per_hour*24
print(seconds_per_day)

86400

#### 3.5 Divide seconds_per_day by seconds_per_hour. Use floating-point (/) division.

In [14]:
hours_per_day = seconds_per_day / seconds_per_hour
print(hours_per_day)

24.0

#### 3.6 Divide seconds_per_day by seconds_per_hour, using integer (//) division. Did this number agree with the floating-point value from the previous question, aside from the final .0?

In [15]:
hours_per_day_quotient = seconds_per_day // seconds_per_hour
print(hours_per_day_quotient)

24

Since the '//' operator gives output as the quotient of the number, it automatically gets rid of the remainder and only gives the integer (whole) quotient value. In this case, on dividing *86400* by *3600* gave the number of hours in a day which is in itself a whole number *24*. However, on diving the number, the '/' operator by default gives the float value as an answer with a decimal following the answer. The '//' just gets rid of the float (decimal) and removes the remainder value viz in this case ".0".